{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="task-items">
	<div class="container-fluid">
		<div class="container">
			{% for task in tasks.all %}
			<ul class="list-group">
			  <li class="list-group-item list-group-item-warning title">{{ task.title }}</li>
			  <li class="list-group-item list-group-item-primary description">{{ task.summary }}</li>
			  <li class="list-group-item list-group-item-secondary completed">
			  	completed:<span style="font-style: italic; color: #129CF3">{{ task.complete }}</span>
			  </li>
			    <li class="list-group-item list-group-item-danger buttons">
			  		<button type="submit" class="btn item-btn">
						<a href="{% url 'task_detail' task.pk %}">Task Details</a>
					</button>
					<button type="submit" class="btn item-btn">
						<a href="{% url 'update_task' task.pk %}">Update Task</a>
					</button>
					<button type="submit" class="btn item-btn">
						<a href="{% url 'delete_task' task.pk %}">Delete Task</a>
					</button>
				</li>
			  <li class="list-group-item list-group-item-success created">
			  	created at <span style="font-style: italic; color: #129CF3">{{ task.created_pretty }}</span>
			  </li>
			</ul>
			  <hr>			 
			{% empty %}
				<h3>{{ request.user }}, you do not have any tasks yet</h3>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %} 