{% extends 'update_delete.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="task-items">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12 update">
					<h2>Task update form</h2>
					<form method="POST">
						{% csrf_token %}
						<ul class="list-group">
							<li class="list-group-item list-group-item-info completed">
								<button type="submit" class="btn item-btn">
									<a href="{% url 'home' %}">Go back</a>
								</button>
							</li>
							<li class="list-group-item list-group-item-danger completed">
								{{ form|crispy }}
							</li>
							<input type="submit" value="update" class="btns">
						</ul>
					</form>
				</div>
			</div>
		</div>	
	</div>
</section>

{% endblock %}